.noisyFlow {
  background-image: url(https://cdn.discordapp.com/attachments/1135510437790765076/1137243441160527932/wuqcXY47QILbgAAAABJRU5ErkJggg.png);
  width: 100%;
  height: 100%;
}

.backgroundFlow {
  height: 100%;
  width: 100%;
  margin: 0;
  background: rgb(206, 108, 81);
  background: -moz-linear-gradient(
    180deg,
    rgba(206, 108, 81, 1) 0%,
    rgba(166, 88, 83, 1) 56%,
    rgba(206, 108, 81, 1) 95%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(206, 108, 81, 1) 0%,
    rgba(166, 88, 83, 1) 56%,
    rgba(206, 108, 81, 1) 95%
  );
  background: linear-gradient(
    180deg,
    rgba(206, 108, 81, 1) 0%,
    rgba(166, 88, 83, 1) 56%,
    rgba(206, 108, 81, 1) 95%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ce6c51",endColorstr="#ce6c51",GradientType=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 0;
}

.BottomSectionFlow {
  padding-bottom: 100px;
}

/* vertical ruler + text */
.timelineFlow {
  padding-top: 10px;
  position: relative;
  max-width: 100%;
  margin-left: -5%;
}

/* vertical ruler */
.timelineFlow::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 820px;
  background-color: #f9ecdc;
  top: 110px;
  left: 40%;
}

/* Container buat teks */
.containerFlow {
  padding: 10px 40px;
  position: relative;
  width: fit-content;
  margin-bottom: 100px;
  /* background-color: green; */
}

/* styling circle */
.containerFlow::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #c06750;
  border: 9px solid #f9ecdc;
  border-radius: 50%;
  z-index: 1;
}

/* posisi circle + teks */
.rightFlow {
  bottom: 30%;
  left: 40%;
}

/* posisi circle doang */
.rightFlow::after {
  top: 90px;
  left: -2%;
}

/* posisi teks */
.contentFlow {
  position: relative;
  margin-left: 50px;
  margin-top: -15px;
  width: 600px;
}

.JudulRangkaianFlow {
  width: 100%;
  font-style: "Montserrat";
  font-size: 96px;
  text-align: left;
  font-weight: bolder;
  color: white;
  line-height: normal;
}

.contentTglRangkaianFlow {
  text-align: right;
  margin-top: -40px;
  margin-left: -100px;
}

.TanggalRangkaianFlow {
  background-color: white;
  display: flex;
  width: 366px;
  height: 66px;
  border-radius: 107px;
  margin-top: 20px;
  display: inline-block;
  color: #cd6d53;
  text-align: center;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  /* line-height: -2px; */
}

@media (max-width: 1400px) {
  .rightFlow::after {
    left: -2.5%;
  }
}

@media (max-width: 1100px) {
  /* vertical ruler + text */
  .timelineFlow {
    padding-top: 40px;
    position: relative;
    max-width: 100%;
  }

  /* vertical ruler */
  .timelineFlow::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 550px;
    background-color: #f9ecdc;
    top: 120px;
    bottom: 160px;
    left: 37%;
  }

  /* Container buat teks */
  .containerFlow {
    padding: 10px 40px;
    position: relative;
    margin-top: 25px;
    width: 50%;
    background-color: inherit;
  }

  /* styling circle */
  .containerFlow::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #c06750;
    border: 5px solid #f9ecdc;
    top: 35px;
    border-radius: 50%;
    z-index: 1;
  }

  /* posisi circle + teks */
  .rightFlow {
    left: 37%;
  }

  /* posisi circle doang */
  .rightFlow::after {
    top: 50px;
    left: -1.5%;
  }

  /* posisi teks */
  .contentFlow {
    position: relative;
    margin-left: 20px;
    margin-top: -15px;
    width: 350px;
  }

  .JudulRangkaianFlow {
    width: 100%;
    font-family: "Montserrat";
    font-size: 50px;
    text-align: left;
    font-weight: bolder;
    color: white;
  }

  .contentTglRangkaianFlow {
    text-align: right;
    margin-top: -40px;
    margin-left: -100px;
  }

  .TanggalRangkaianFlow {
    background-color: white;
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 107px;
    margin-top: 30px;
    display: inline-block;
    color: #cd6d53;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
}

@media (max-width: 991px) {
  .timelineFlow::after {
    left: 37.1%;
  }
}

@media (max-width: 640px) {
  /* vertical ruler + text */
  .timelineFlow {
    padding-top: 40px;
    position: relative;
    max-width: 100%;
  }

  /* vertical ruler */
  .timelineFlow::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 430px;
    background-color: #f9ecdc;
    top: 110px;
    bottom: 190px;
    left: 26.2%;
  }

  /* Container buat teks */
  .containerFlow {
    padding: 10px 40px;
    position: relative;
    margin-top: 25px;
    width: 50%;
    background-color: inherit;
  }

  /* styling circle */
  .containerFlow::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #c06750;
    border: 5px solid #f9ecdc;
    top: 35px;
    border-radius: 50%;
    z-index: 1;
  }
  /* posisi circle + teks */
  .rightFlow {
    left: 27%;
  }

  /* posisi circle doang */
  .rightFlow::after {
    top: 30px;
    left: -4.5%;
  }

  /* posisi teks */
  .contentFlow {
    position: relative;
    margin-left: 20px;
    margin-top: -15px;
    width: 220px;
  }

  .JudulRangkaianFlow {
    width: 100%;
    font-family: "Montserrat";
    font-size: 28px;
    text-align: left;
    font-weight: bolder;
    color: white;
  }

  .contentTglRangkaianFlow {
    text-align: right;
    margin-top: -30px;
    margin-left: -100px;
  }

  .TanggalRangkaianFlow {
    background-color: white;
    display: flex;
    width: 160px;
    height: 30px;
    border-radius: 107px;
    margin-top: 30px;
    display: inline-block;
    color: #cd6d53;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
}

@media (max-width: 510px) {
  .timelineFlow::after {
    left: 26.7%;
  }
}

@media (max-width: 425px) {
  .contentFlow {
    position: relative;
    margin-left: 0;
    margin-top: -15px;
    width: 170px;
  }

  .timelineFlow::after {
    top: 110px;
    left: 27.5%;
    height: 435px;
  }
}
