.putihNews-bg {
  background-color: rgba(0, 0, 0, 0.2);
  /* filter: blur(2px); */
  /* background-image: url("https://media.discordapp.net/attachments/1139426470901600336/1139428451330302074/putihNews-bg.webp?width=840&height=426"); */
  display: block;
  /* height: 1920px; */
  width: 100vw;
  /* position: relative; */
  overflow: hidden;
}

.abuNews-bg {
  width: 540px;
  height: auto;
  z-index: 1;
}

.contextNews {
  line-height: 1.5;
  position: absolute;
  max-width: 1050px;
  padding-top: 490px;
  display: relative;
  z-index: 2;
}

.contextNews p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: justify;
  font-weight: 700;
  color: white;
  word-spacing: 55px;
}

@media (max-width: 540px) {
  .abuNews-bg {
    width: 100%;
    height: auto;
  }
}
